html
  head
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/polymer/0.5.5/polymer.js")
body
  h1 ezekeal.com
  p What's up?
