html
  head

    title ezekeal.com

    meta(name="viewport", content="width-device-width, minimum-scale=1.0, user-scalable=yes")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/polymer/0.5.5/polymer.js")

    link(href='http://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')

    link(href="index.css")

    style * { font-family: 'Roboto' sans-serif; }

  body
    h1 ezekeal.com
    p What's up
